/* base styles */

.container-base {
  line-height: 1.4;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  font-size: 15px;
}

.punctuation-base {
  margin-right: 5px;
  font-weight: bold;
}

.punctuation-base + .punctuation-base {
  margin-left: -5px;
}

.pointer {
  cursor: pointer;
}

.expander-base {
  composes: pointer;
  font-size: 1.2em;
  margin-right: 5px;
  user-select: none;
}

.expand-icon::after {
  content: '▸';
}

.collapse-icon::after {
  content: '▾';
}

.collapsed-content-base {
  composes: pointer;
  margin-right: 5px;
}

.collapsed-content-base::after {
  content: '...';
  font-size: 0.8em;
}

.container-light {
  composes: container-base;
  background: #eee;
}

.basic-element-style {
  margin: 0 10px;
  padding: 0;
}

/* custom dark style */
.container-dark {
  background: hsl(var(--background));
  composes: container-base;
}

.expand-icon-dark {
  composes: expander-base;
  composes: expand-icon;
  color: hsl(215 20.2% 65.1%);
}

.collapse-icon-dark {
  composes: expander-base;
  composes: collapse-icon;
  color: hsl(210 40% 96.1%);
}

.collapsed-content-dark {
  composes: collapsed-content-base;
  color: hsl(212.7 26.8% 83.9%);
}

.label-dark {
  font-weight: bolder;
  margin-right: 5px;
  color: hsl(214.3 31.8% 91.4%);
}

.clickable-label-dark {
  composes: label-dark;
  composes: pointer;
}

.punctuation-dark {
  composes: punctuation-base;
  color: hsl(210 40% 98%);
}

.value-null-dark {
  color: hsl(215.4 16.3% 46.9%);
}

.value-undefined-dark {
  color: hsl(215.4 16.3% 46.9%);
}

.value-string-dark {
  color: hsl(27 96% 61%);
}

.value-number-dark {
  color: hsl(187.9 85.7% 53.3%);
}

.value-boolean-dark {
  color: hsl(198.4 93.2% 59.6%);
}

.value-other-dark {
  color: hsl(0 0% 83.1%);
}